h1 {
	color: #00FFF3;
	font-family: sans-serif;
	size: 310px;
	top: 50%;
	text-align: center;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

}
img {
	border-radius: 80%;
	margin: 50px 0px 0px 0px;
	width: 20%;
	border: 5px solid black;
}

body {
	background-size: cover;
	background-image: url(https://lh3.googleusercontent.com/-4PTjS9NbloE/VVJvHnm_txI/AAAAAAAAAbM/xBp4Qkhxrpc/w1452-h968-no/IMG_2184.jpg);
	}
div {
	margin-top: 15%;
}
.wrapper {
	text-align: center;
}

.button {
	position: center;
	top: 50%;
	font-size: 20px;
	font-family: sans-serif;
	color: #660033;
	border-radius: 10px;
	font-weight: bold;
}
input {
	text-align: center;
	height: 100px;
	width: 140px;
	border-radius: 20px;
	font-size: 16px;
}
.buttonTwo {
	position: center;
	margin-top: 10%;
	margin-right: 50%;
}

#textBox {
	font-size: 22px;
	text-align: center;
	color: #00FFF3;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin: 18 auto;
	left: 50%;
	top: 68%;
}

#guessList {
	font-size: 16px;
	text-align: center;
	color: #FF0000;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin: 12 auto;
	text-decoration: underline;
}
h2 {
	font-size: 26px;
	text-align: center;
	color: #FF0000;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

